# Workflow for building doxygen documentation
name: Generate doxygen documentation

on:
  push:
    branches: [ "main" ]
    # paths:
    #   - 'docs/**'
    #   - 'include/**'
    #   - 'source/**'
    #   - 'unittests/**'
  pull_request:
    branches: [ "main" ]
    # paths:
    #   - 'docs/**'
    #   - 'include/**'
    #   - 'source/**'
    #   - 'unittests/**'

jobs:
  generate-doxy-docu:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:

    - name: Checkout repository and install pandoc
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install pandoc
      run: sudo apt-get install pandoc

    - name: Generate code documentation
      uses: mattnotmitt/doxygen-action@v1.9.5
      with:
        working-directory: 'docs/'
        doxyfile-path: 'doxygen/doxygenConfig'

    - name: Generate wiki mainpage
      working-directory: ${{github.workspace}}
      run: pandoc docs/main_index.md -f markdown -t html -s -o docs/main_index.html --mathml --metadata title="Wiki Santa-Challenge"

    - name: Concatenate index for Jekyll
      working-directory: ${{github.workspace}}/docs
      run: cat jekyll_header.txt main_index.html > index.html

    - name: Commit changes
      run: |
        git checkout main
        git config --global user.name "github-actions[bot]"
        git config --global user.email github-actions@users.noreply.github.com
        git add -f --all
        git commit -a -m "[bot] Generate doxygen documentation"
    
    - name: Push documentation
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # force_with_lease: true
        branch: "main"
