# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Santa-Challenge unit-tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  CPP_COMPILER: g++
  C_COMPILER: gcc

jobs:
  run-unit-tests:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v3
    # - name: Install OpenMP library
      # Install the required OpenMP library for usage with clang
      # run: sudo apt-get install libomp-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build 
          -DSOURCE=unittest
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} 
          -DCMAKE_CXX_COMPILER=${{env.CPP_COMPILER}}
          -DCMAKE_C_COMPILER=${{env.C_COMPILER}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --target all

    - name: Run unit tests
      working-directory: ${{github.workspace}}/build
      run: ctest -V -C # ./unittests/santaChallengeTest
